
.transition {
	transition: all 0.5s ease;
}

.fullscreen {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: radial-gradient(50% 50%, farthest-corner, #18f, #225);
}

#title {
	font-family: Exo;
	font-size: 64px;
	font-weight: bold;

	display: box;
	box-pack: center;
	box-sizing: border-box;
	box-align: center;
	width: 100%;
	height: 100%;

	color: #49f;
	text-shadow: 0px 0px 10px #222;
}

#menu {
	font-family: Exo;
	font-size: 32px;

	opacity: 0;
	color: black;
	text-shadow: 0px 0px 3px #222;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	height: 30px;
	width: auto;
	margin: auto;
}

li {
	font-size: 24px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	transition: all 0.5s ease;
}

li:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2) inset,
				1px 1px 3px rgba(255, 255, 255, 0.2);
}

.detail {
	position: fixed;
	left: 100px;
	top: 140px;
	right: 100px;
	bottom: 80px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
	display: none;
	opacity: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 4px;
}

.nano .content {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 20px;
	overflow: hidden;
}

.nano .pane {
	background: #888;
}

.nano .slider {
	background: #111;
}

.content h1 {
	font-family: Exo;
	font-weight: bold;
	font-size: 24px;
	color: #f82;
}

audio {
	display: none;
}

