
.main-bg {
	background-image: url('../img/cjprods.png');
	width: 700px;
	height: 361px;
	margin: auto;
}

a {
	color: #ff0;
	background-color: #222;
}

a:hover {
	color: #88f;
	background-color: #333;
}

